.carouselwrapper_container {
  max-width: 90%;
  margin: auto;
  padding-bottom: 1rem;

  @media (max-width: 600px) {
    max-width: 100%;
  }
}

.slide_image {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;

  img {
    border-radius: 50%;
  }
}

.slick-slider {
  .slick-slide > div {
    margin: 0 0.7rem;
  }

  .slick-list {
    margin: 0 -1rem;
  }

  .slick-arrow::before {
    font-size: 1.8rem;
    color: var(--color);
  }
  .slick-prev {
    left: -4rem;
  }
  .slick-next {
    right: -4rem;
  }

  @media (max-width: 600px) {
    & .slick-prev {
      top: 110%;
      left: 50%;
      transform: translate(-150%, -50%);
    }
    & .slick-next {
      top: 110%;
      left: 50%;
      transform: translate(50%, -50%);
    }
  }
}
