@keyframes fadeInLeft {
	from {
		opacity: 0;
		transform: translate3d(-50%, 0, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

@keyframes fadeInRight {
	from {
		opacity: 0;
		transform: translate3d(50%, 0, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

.mainPage_carousel {
	height: 92vh;

	.carousel-inner {
		height: 100%;
	}

	.carousel-item {
		height: 100%;
	}

	.carousel-caption {
		z-index: 2;
		bottom: 8%;
		left: 12%;
		max-width: 60%;
		text-align: start;

		.float-animation {
			animation: fadeInLeft 800ms ease-out both 1s;
		}

		&::before {
			content: "";
			position: absolute;
			width: 8rem; /* Width of the frame */
			height: 4rem; /* Height of the frame */
			border: 3px solid white; /* Frame border color and thickness */
			box-sizing: border-box;
			z-index: 100;
			top: 1rem;
			left: -2rem;
			border-bottom: 0;
			border-right: 0;
			padding-right: 10px;
		}

		.dropdown {
			&::after {
				content: "";
				position: absolute;
				width: 8rem; /* Adjust as needed */
				height: 4rem; /* Adjust as needed */
				border: 3px solid white; /* Frame border color and thickness */
				box-sizing: border-box;
				bottom: -2rem;
				right: -2rem;
				border-top: 0;
				border-left: 0;
				left: 80%;
				animation: none !important;
			}

			& .float-animation {
				width: 100%;
				// animation: fadeInLeft 800ms ease-out both 1s;
			}
		}

		button {
			width: 14.2rem;
			height: 3.1rem;
			left: 112px;
			top: 605px;
			border-radius: 8px;
			border: 0;
			outline: none;
			margin-right: 1rem;

			&.info {
				background-color: var(--red);
				color: var(--white);
				padding: 0;

				&:hover {
					background-color: var(--white);
					color: var(--red);
				}
			}

			&.groups {
				// height: 45px;
				// width: 45px;
				// border-radius: 50%;
				background-color: var(--white);
				color: var(--red);
				// overflow: hidden;
				animation-delay: 3s;

				display: flex;
				justify-content: space-evenly;
				align-items: center;
				padding: 0;

				> label {
					height: 30px;
					width: 30px;
					display: flex;
					justify-content: center;
					align-items: center;
					border-radius: 50%;
					color: var(--white);
					background-color: var(--red);
				}

				.dropdown-content {
					display: block;
					background-color: var(--red);
					position: absolute;
					// transform: translate(-50%, -50%);
					left: 0%;
					top: 0%;
					height: auto;
					z-index: 100;
					// top: 10px;
				}
			}
		}

		.dropdown {
			display: flex;
			width: fit-content;

			.dropdown-content {
				display: flex;
				flex-direction: column;
				display: none;

				* {
					background-color: var(--white);
					width: 10rem;
					display: flex;
					flex-wrap: wrap;
				}
			}
		}

		.MuiOutlinedInput-notchedOutline.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
			border: 0;
			outline: 0;
		}

		.css-igs3ac {
			outline: 0;
			border: 0;
		}

		.MuiInputBase-root {
			height: 100%;
		}
	}

	.carousel_caption {
		--width: 100%;
		--time: 0.7s;
		color: white;
		width: fit-content;
		margin-right: auto;
		// overflow: hidden;
		text-align: start;
		z-index: 1;

		h3 {
			font-size: 2.3rem;
			font-weight: 500;
			line-height: 100%;
			margin-bottom: 1rem;
		}

		.MuiSelect-select.MuiSelect-outlined.MuiInputBase-input.MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
			padding: 0;
		}
	}
}

.navbar-toggler:focus {
	box-shadow: 0 0 0 1px !important;
}

input.MuiSelect-nativeInput:hover {
	background-color: var(--red);
	border: 0;
}

@media only screen and (max-width: 899px) {
	.mainPage_carousel {
		.carousel-caption {
			bottom: 10%;
			left: 13%;
			max-width: 100%;
			padding: 0rem 0rem;

			h3 {
				font-size: 4.2vw;
				margin: 0 0 1vw 0;
				font-weight: 500;
				line-height: 100%;
			}

			button {
				width: 30.3vw;
				height: 8vw;
				font-size: 3vw;
				// font-family: 'Arial, Helvetica, sans-serif';
				font-weight: 500 !important;
				border-radius: 8px;
				border: 0;
				outline: none;
				margin-right: 0.5rem;
				padding: 0.1rem;
			}

			p {
				font-size: 1rem;
				margin-bottom: 0;
			}
			&::before {
				width: 2rem; /* Width of the frame */
				height: 1rem; /* Height of the frame */
				top: -0.5rem;
				left: -1rem;
			}
			.dropdown {
				&::after {
					width: 2rem; /* Width of the frame */
					height: 1rem; /* Height of the frame */
					bottom: -0.5rem;
					right: -1rem;
				}
			}
		}

		&.mainPage_carousel {
			height: 32vh;
		}
	}
}
