.carouselwrapper_container {
  // padding: 2rem 30vw;
  max-width: 75%;
  margin: auto;
  // @media only screen and (max-width: 900px) {
  //   padding: 1rem 0rem;
  // }
}

// .slick-list {
//   .slick-track {
//     width: auto;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     align-content: center;
//     text-align: center;
//     margin: 0;
//     padding: 0;
//     border: none;
//   }
// }

.slide_image {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;

  // max-width: 90%;
  // margin: auto;

  img {
    border-radius: 50%;
  }
}

.slick-slider {
  .slick-slide > div {
    margin: 0 1rem;
  }

  /* the parent */
  .slick-list {
    margin: 0 -1rem;
  }

  .slick-arrow::before {
    font-size: 1.8rem;
    color: var(--color);
  }
  .slick-prev {
    left: -2.4rem;
  }
}
