.dropdown {
  font-weight: 700;
  color: var(--black);
  cursor: pointer;

  &:hover .dropdown-content {
    display: block;

    background: rgba(249, 250, 251, 1);
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  cursor: initial;
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
  top: 69.6px;
  box-shadow:
    0 4px 6px rgba(0, 0, 0, 0.1),
    4px 0 6px rgba(0, 0, 0, 0.1),
    -4px 0 6px rgba(0, 0, 0, 0.1);
  z-index: 201;
  padding: 0px 0 0;

  a {
    color: var(--black);
    padding: 10px 20px;
    position: relative;
    display: block;
  }

  @media screen and (max-width: 900px) {
    position: relative;
    box-shadow: none;
    top: 0;

    a {
      padding: 10px 5px;
    }
  }
}
