.custom-vertical-timeline {
	&.vertical-timeline {
		&::before {
			background: black;
		}
	}
	& .vertical-timeline-element-content {
		box-shadow: 0 2px 0 rgb(255, 255, 255);
		background-color: #fecd0b;

		@media (min-width: 1024px) {
			margin-left: 10%;
		}
		padding: 0 20px 0;

		& .vertical-timeline-element-date {
			font-size: 0.4rem;

			&::after {
				color: white;
			}
		}
	}
}

.vision-mission {
	background-color: #d7e700;

	& .header-underline {
		display: inline-block; /* or block depending on layout */
		border-bottom: 4px solid white; /* thickness and color */
		padding-bottom: 1px; /* spacing between text and line */
		width: 50%; /* makes it stretch across */

		@media (max-width: 600px) {
			width: 100%;
		}
	}
}
